---
import Layout from '../../components/Layout.astro'
import { render } from 'astro:content'
import { formatReadableDate } from '../../lib/date'
import { estimateReadingTime } from '../../lib/reading-time'
import CardRowTall from '../../components/CardRowTall.astro';
import Social from '../../components/articles/Social.astro'
import { getContent } from '../../lib/get-content';
import Sidebar from '../../components/articles/Sidebar.astro';

// Generate all possible routes for blog posts
export async function getStaticPaths() {
  const posts = await getContent('articles')

  return posts.map((post) => {
    return {
      params: { slug: post.slug },
      props: { post },
    };
  });
}

// Get the post object passed via props
const { post } = Astro.props;
const { Content } = await render(post);
const encoded_url = `https://www.thenewyorkist.com/articles/${encodeURIComponent(post.slug)}`;

// Get Posts
const [author] = await getContent('authors', { filter: { id: post.data.author.id } })
const latestPosts = await getContent('articles', { limit: 4 })
const relatedPosts = (await getContent('articles', {
  limit: 6,
  filter: { category: post.data.category }
})).filter((target) => target.slug !== post.slug);

---

<Layout
  seo={{ 
    title: post?.data?.title,
    description: post?.data?.description,
    type: 'article',
    image: post?.data?.image
  }}
>
  <div class="mx-auto pt-5 md:pt-8 pb-5 flex flex-col md:flex-row">
    <div class="min-w-none md:min-w-[550px] md:w-[70%] m-auto">
      <div class="relative">
        <div class="border-b absolute w-[40%] sm:w-[25%] top-[50%] h-[1px] z-[-1]"></div>
        <p class="small !leading-[1] italic bg-[var(--cream)] w-max ml-4 pl-2.5 pr-2.5">{post.data.category}</p>
      </div>
      <h1 class="pt-3 sm:pt-4 leading-[1.2] pb-5 sm:pb-8 max-w-[1000px] mx-auto">{post.data.title}</h1>
      <div class="border-t border-b mb-5 flex flex-row justify-between md:items-center gap-5 md:gap-0 py-3">
        <div class="flex items-center ">
          <img class="w-[41px] md:w-[41px] h-[41px] md:h-[41px] object-cover rounded-full" src={`https://res.cloudinary.com/ddpw0my3h/image/upload/f_auto/v1736559312/${author.data.image}`} />
          <div class="pl-3 flex flex-col justify-center">
            <p class="text-[14px] md:text-[14px] leading-[1.2]">By {author?.data?.name}</p>
            <p class="text-[13px] opacity-[.75] leading-[1.2] pt-[2px]">{formatReadableDate(post.data.date)}</p>
          </div>
        </div>
        <div class="flex items-center gap-2">
          <Social url={encoded_url} title={post.data.title} />
        </div>
      </div>      
      <div class="pb-5 md:pb-5 aspect-video">
        <img 
          class="w-full object-cover overflow-hidden aspect-video" 
          src={post.data.image.src}
          alt={post.data.image.alt} />
        {post?.data?.image?.alt && <small class="block pt-3 opacity-[.75]"><em>{post.data.image.alt}</em></small>}
      </div>
      <div class="post-body border-b pb-5">
        <Content />
      </div>
      <div class="border-b flex flex-row justify-between md:items-center gap-5 md:gap-0 py-3">
        <div class="flex items-center ">
          <div class="flex flex-col justify-center">
            <img class="w-[35px] md:w-[35px] h-[35px] md:h-[35px] object-cover rounded-full" src={`https://res.cloudinary.com/ddpw0my3h/image/upload/f_auto/v1736559312/${author.data.image}`} />
          </div>
          <p class="text-[16px] pl-3">By {author?.data?.name}</p>
        </div>
        <div class="flex items-center gap-2">
          <Social url={encoded_url} title={post.data.title} />
        </div>
      </div>   
      <!-- <div class="py-5 flex items-center gap-3 border-b">
        <p class="small">Tags</p>
        <button class="small px-4 py-1 border rounded-full">
          technology
        </button>
        <button class="small px-4 py-1 border rounded-full">
          local
        </button>
      </div> -->
    </div>
    <Sidebar title='Related News' posts={relatedPosts} />
  </div>
  <div>
    <div class="mx-auto md:max-w-none">
      <CardRowTall borderT title="Latest News" posts={latestPosts} />
      <section class="bg-[var(--black)] py-10 px-4 text-center mb-5 mt-5">
        <p class="h4 !leading-[1.65] text-white m-auto">Readers like you support journalists like us. <br/> Please donate today.</p>
        <a href="/donate" class="hover:text-white border border-white bg-white hover:bg-transparent inline-block p block mt-3  !leading-[1.2] px-6 py-2 rounded-l-full rounded-r-full">
          Donate
        </a>
      </section>
    </div>
  </div>
  
  
</Layout>
