---
const { url, title } = Astro.props
---

<a target="_blank" href={`https://www.facebook.com/sharer/sharer.php?u=${url}`} class='group hover:bg-[var(--black)] border hover:border-[var(--black)] rounded-full w-[35px] h-[35px] flex justify-center items-center'>
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="15px" viewBox="-5 0 20 20" version="1.1">
    <title>facebook [#176]</title>
    <desc>Created with Sketch.</desc>
    <defs>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Dribbble-Light-Preview" transform="translate(-385.000000, -7399.000000)" class="group-hover:fill-[white]" fill="var(--black)">
          <g id="icons" transform="translate(56.000000, 160.000000)">
              <path d="M335.821282,7259 L335.821282,7250 L338.553693,7250 L339,7246 L335.821282,7246 L335.821282,7244.052 C335.821282,7243.022 335.847593,7242 337.286884,7242 L338.744689,7242 L338.744689,7239.14 C338.744689,7239.097 337.492497,7239 336.225687,7239 C333.580004,7239 331.923407,7240.657 331.923407,7243.7 L331.923407,7246 L329,7246 L329,7250 L331.923407,7250 L331.923407,7259 L335.821282,7259 Z" id="facebook-[#176]">
              </path>
          </g>
        </g>
    </g>
  </svg>
</a>
<a target="_blank" href={`https://twitter.com/intent/tweet?url=${url}&text=${title}`} class='group hover:bg-[var(--black)] border hover:border-[var(--black)] rounded-full w-[35px] h-[35px] flex justify-center items-center'>
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18px" height="18px" viewBox="0 -2 20 20" version="1.1">
    <title>twitter [#154]</title>
    <desc>Created with Sketch.</desc>
    <defs>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g id="Dribbble-Light-Preview" transform="translate(-60.000000, -7521.000000)" class="group-hover:fill-[white]" fill="var(--black)">
        <g id="icons" transform="translate(56.000000, 160.000000)">
          <path d="M10.29,7377 C17.837,7377 21.965,7370.84365 21.965,7365.50546 C21.965,7365.33021 21.965,7365.15595 21.953,7364.98267 C22.756,7364.41163 23.449,7363.70276 24,7362.8915 C23.252,7363.21837 22.457,7363.433 21.644,7363.52751 C22.5,7363.02244 23.141,7362.2289 23.448,7361.2926 C22.642,7361.76321 21.761,7362.095 20.842,7362.27321 C19.288,7360.64674 16.689,7360.56798 15.036,7362.09796 C13.971,7363.08447 13.518,7364.55538 13.849,7365.95835 C10.55,7365.79492 7.476,7364.261 5.392,7361.73762 C4.303,7363.58363 4.86,7365.94457 6.663,7367.12996 C6.01,7367.11125 5.371,7366.93797 4.8,7366.62489 L4.8,7366.67608 C4.801,7368.5989 6.178,7370.2549 8.092,7370.63591 C7.488,7370.79836 6.854,7370.82199 6.24,7370.70483 C6.777,7372.35099 8.318,7373.47829 10.073,7373.51078 C8.62,7374.63513 6.825,7375.24554 4.977,7375.24358 C4.651,7375.24259 4.325,7375.22388 4,7375.18549 C5.877,7376.37088 8.06,7377 10.29,7376.99705" id="twitter-[#154]">
          </path>
        </g>
      </g>
    </g>
  </svg>
</a>
<a target="_blank" href={`https://www.reddit.com/submit?url=${url}&title=${title}`} class='group hover:bg-[var(--black)] border hover:border-[var(--black)] rounded-full w-[35px] h-[35px] flex justify-center items-center'>
  <svg xmlns="http://www.w3.org/2000/svg" class="group-hover:fill-[white]" fill="var(--black)" width="19px" height="19px" viewBox="0 0 256 256" id="Flat">
  <path d="M248,104a31.99228,31.99228,0,0,0-52.9375-24.19043c-16.75439-8.90112-36.76172-14.279-57.666-15.52539l5.19581-31.17578,21.83105,3.3584a24.00409,24.00409,0,1,0,2.43506-15.814l-29.64209-4.56006a7.996,7.996,0,0,0-9.10742,6.5918l-6.91309,41.478c-21.83887.94165-42.813,6.37891-60.2583,15.647a31.99266,31.99266,0,0,0-42.59229,47.74024A59.04669,59.04669,0,0,0,16,144c0,21.93457,12.042,42.35156,33.90723,57.48926C70.875,216.00588,98.60938,224,128,224s57.125-7.99414,78.09277-22.51074C227.958,186.35158,240,165.93459,240,144a59.01726,59.01726,0,0,0-2.3457-16.44922A32.17163,32.17163,0,0,0,248,104ZM72,132a16,16,0,1,1,16,16A16.01833,16.01833,0,0,1,72,132Zm92.69629,51.10938a80.122,80.122,0,0,1-73.39209,0,8,8,0,0,1,7.34033-14.2168,64.09433,64.09433,0,0,0,58.71094,0,8.00008,8.00008,0,0,1,7.34082,14.2168ZM168,148a16,16,0,1,1,16-16A16.01833,16.01833,0,0,1,168,148Z"/>
  </svg>
</a> 